.details-header {
  font-weight: 900;
}

.details-title {
  font-weight: 700;
}

.details-sub {
  font-weight: 500;
  color: rgba(#000, 0.5);
}

#details-cart {
  border: 2px #46760a solid;
  border-radius: 12px;
  color: #fff;
  font-weight: 500;
}
