#shipping-form {
  padding: 4%;
  margin: 8%;

  #shipping-header {
    font-weight: 900;
  }

  #shipping-btn {
    border: 2px #46760a solid;
    border-radius: 12px;
    color: #fff;
    font-weight: 500;
  }
}
