#contained-modal-title-vcenter {
  font-weight: 700;
}

#category-dropdown {
  border-radius: 14px;
}

#add-listing {
  border: 2px #46760a solid;
  border-radius: 12px;
  color: #fff;
  font-weight: 500;
}
