.cart-header {
  font-weight: 900;
}

#cart-continue {
  border: 2px #46760a solid;
  border-radius: 12px;
  color: #000;
  font-weight: 500;
  background-color: transparent;
  width: 100%;
}

#cart-checkout {
  border: 2px #46760a solid;
  border-radius: 12px;
  color: #fff;
  font-weight: 500;
  width: 100%;
}

.cart-icons {
  font-size: 18px;
  font-weight: 700;
}
