#brand {
  font-size: 34px;
  font-weight: 900;
}

#navbar {
  background: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid rgba(225, 225, 225);
}

#nav-link {
  margin-left: 7px;
  font-weight: 600;
  color: #000;
}

.nav-link-login {
  border: 2px #46760a solid;
  border-radius: 12px;
  padding-left: 20px;
}

.nav-dropdown {
  border: none;
}

.nav-icons {
  font-size: 20px;
  font-weight: 700;
}
