.reset-form {
  padding: 4%;
  margin: 8%;

  .reset-header {
    font-weight: 900;
  }

  .reset-button {
    border: 2px #46760a solid;
    border-radius: 12px;
    color: #fff;
    font-weight: 500;
  }
}
